@import '_setting.scss';

.navbar-board{
    height: $navbar-boardbar-height;
    padding-left: $gap;
    display: flex;
    align-items:  center;
    background-color: $broad-bg-color;
    font-size: 1.1rem;
}