@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

$gap: 10px;
$navbar-appbar-height: 4vh;
$navbar-boardbar-height: 5vh;
$board-content-height: 89vh;

//colors
$broad-bg-color: #0079bf;
$app-main-text-color: #333;
$common-elemon-bg: rgba(255, 255, 255, .24);
$column-bg-color: #ebecf0;

$column-border-radius: 4px;

//screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width: 375px)';