@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

$gap: 10px;

//colors
$broad-bg-color: #0079bf;

$common-elemon-bg: rgba(255, 255, 255, .24);

//screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width: 375px)';