@import '_setting.scss';



body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.3em; 

}

.trello-dori-master{
    height: 100vh;
    overflow: hidden;
    background-color: $broad-bg-color;
    color: $app-main-text-color;
    .icon {
        font-size: 14px;
        margin-right: 3px;
    }
}